<h1>Boas-vindas ao HOME Task List!</h1>
<h3>Sua lista de tarefas em HOME:</h3>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.description, task_path(task) %>
      <%= link_to 'Editar', edit_task_path(task) %>
      <%= link_to 'Apagar', task, method: :delete, data: { turbo_confirm: 'Deseja apagar essa tarefa?' } %>
    </li>
  <% end %> 
</ul>
<%= link_to 'Adicionar', new_task_path %>